<h1>Bulk Discounts Index page!</h1>

<%= link_to "New Discount", "/merchants/#{@merchant.id}/bulk_discounts/new" %>

<div id="discounts">
<% @discounts.each do |discount| %>
  <div id="discount-<%= discount.id %>">
    <%= link_to "#{discount.id}", "/merchants/#{discount.merchant.id}/bulk_discounts/#{discount.id}" %>
    <%= link_to "Delete", "/merchants/#{discount.merchant.id}/bulk_discounts/#{discount.id}", method: :delete %>
    <p>Percentage: <%= discount.discount_percentage %>%</p>
    <p>Quantity: <%= discount.quantity %></p>
  </div>
    <% end %>
</div>
